<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongruan.springboot2.dao.IBookDao">


    <select id="FindBookByid" resultType="com.zhongruan.springboot2.entity.Book">
        select * from book where id = #{id};
    </select>
    <select id="getAllBooks" resultType="com.zhongruan.springboot2.entity.Book">
        select * from book;
    </select>
</mapper>