<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongruan.book_management_system.dao.IBookDao">
    <insert id="AddBook">
        insert into book
        (name, ISBN, type, description, img_url, stock, onLoan, author)
        values (#{name},#{ISBN},#{type},#{description},#{img_url},#{stock},#{onLoan},#{author})
    </insert>
    <update id="BorrowingBookByid">
        update book
        <set>
            stock = stock-1
        </set>
        where
        id=#{_parameter}
    </update>
    <update id="ReturningBookByid">
        update book
        <set>
                stock = stock+1
        </set>
        where
        id=#{_parameter}
    </update>
    <update id="UpdataBook">
        update book
        <set>
            name=#{name},
            ISBN=#{ISBN},
            type=#{type},
            description=#{description},
            img_url=#{img_url},
            stock=#{stock},
            onLoan=#{onLoan},
            author=#{author}
        </set>
        where id = id
    </update>
    <delete id="DeleteBookByid">
        delete from  book
        where id=#{_parameter}
    </delete>


    <select id="findBookByid" resultType="com.zhongruan.book_management_system.entity.Book">
        select *
        from book
        where id = #{_parameter}
    </select>
    <select id="getAllBooks" resultType="com.zhongruan.book_management_system.entity.Book">
        select *
        from book
    </select>
    <select id="findBookByname" resultType="com.zhongruan.book_management_system.entity.Book">
        select *
        from book
        where name like "%"#{_parameter}"%"
    </select>
</mapper>